<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key ="datebaser" value="Data Source=(local);uid=sa;pwd=12345678a.;Initial Catalog=PrayBase"/>
  
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 软件授权码 测试备用 -->
  <add key="LicenceKey" value="be48f90d-6cde-4a7a-958d-cf49c2d26e3f" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="sendbug@pray.cn" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="123456" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!-- ================== 4：上传目录参数 ================== -->
  <add key="ImgUpDir" value="Content\ImgUploads" />
  <!-- ================== 4：IP统计的记事本 ================== -->
  <add key="UsetxtPath" value="\\192.168.19.44\up\计算机信息统计.txt" />
  <!-- ================== 4：本地输出目录 ================== -->
  <add key="Errerlog" value="Errerlog" />
</appSettings>